<div class="center jumbotron">
  <h1>Welcome to DaveNotes</h1>
  <h2>This is probably home.</h2>
  <p><%= link_to 'Schools', schools_path, class: 'btn btn-lg btn-primary'  %></p>
  <% if logged_in? %>
    <p>Link to your favourite schools</p>
    <p>Link to your favourite courses</p>
  <% else %>
    <%= link_to 'Sign up', signup_path, class: 'btn btn-lg btn-primary' %>
  <% end %>
</div>
